.App {
  text-align: center;
  width: 25%;
  height: 50%;
  position: absolute;
  right: 40%;
  top: 25%;
}

.App input{
  width: 100%;
}

.App button {
  width: 25%;
  height: 10%;
  background-color: rgb(13, 134, 220);
  color: white;
  border: 1px solid white;
}