.App {
  text-align: center;
  width: 300px;
  height: auto;
  position: absolute;
  right: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(37, 35, 35);
  border-radius: 5px;
}

.App h3 {
  margin: 0;
}

.secondaryInput {
  width: 290px;
  height: 50px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: rgb(120, 120, 120);
}

.mainInput {
  width: 290px;
  height: 85px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: white;
  font-size: 35px;
  font-weight: 400;
}

.App button {
  width: 70px;
  height: 46px;
  background-color: rgb(59, 65, 70);
  color: white;
  border: none;
  border-radius: 5px;
}

.App button:hover {
  background-color: rgb(48, 52, 56);
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

.menu {
  padding-right: 15px;
}

.menu h3 {
  font-size: 14px;
}

.menu div {
  background-color: #7a7a7a;
  height: 2px;
  margin: 4px 0;
  width: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.modalMenu {
  position: absolute;
  top: 0px;
  font-size: 30px;
  color: #ffffff;
  width: 200px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: rgb(30, 30, 30);
  list-style-type: none;
}

.modalMenu p {
  color: #7a7a7a;
}

.modalMenu li {
  cursor: pointer;
}

.modalMenu li:hover {
  background-color: rgba(117, 146, 166, 0.5);
}

.lengthInput {
  width: 290px;
  height: 65px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: white;
  font-size: 35px;
  font-weight: 400;
}

.lengthOption {
  background-color: rgb(37, 35, 35);
  border: 1px solid white;
  color: white;
  border: none;
  position: relative;
  right: -25px;
  width: 95px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  height: 25px;
}

.memory {
  list-style: none;
  color: white;
  display: flex;
  background-color: transparent;
}

.memoryModal {
  width: 300px;
  height: 250px;
  background-color: #3b3b3b;
  z-index: 998;
  position: absolute;
  bottom: 0px;
  color: white;
  display: flex;
  flex-direction: column;
}

.advancedMemoryModal {
  width: 300px;
  height: 300px;
  background-color: #3b3b3b;
  z-index: 998;
  position: absolute;
  bottom: 0px;
  color: white;
  display: flex;
  flex-direction: column;
}

.memoryContainer {
  display: flex;
  flex-direction: column;
  height: 30px;
}

.memoryContainer:hover {
  background-color: #303030;
}

.memoryContainer p {
  position: absolute;
  right: 30px;
  margin: 0px;
}

.memoryContainer svg {
  position: relative;
  top: 5px;
  left: 140px;
}

.optionsModal{
  border: 1px solid white;
  border-radius: 5px;
  width: 90px;
  background-color: rgb(37, 35, 35);
  color: white;
  length: 100px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  top: 135px;
  left: 10px;
  align-items: flex-start;
  padding-bottom: 7px
}

.weightOption{
  padding: 3px 0px 3px 0px;
  width: 100%
}

.weightOption:hover{
  background-color: #959595;
  cursor: pointer;
}
