.App {
  text-align: center;
  width: 300px;
  height: auto;
  position: absolute;
  right: 40%;
  top: 25%;
  background-color: rgb(37, 35, 35);
  border-radius: 5px;
}

.App h3{
  margin: 0;
}

.secondaryInput{
  width: 290px;
  height: 50px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: rgb(120, 120, 120);
}

.mainInput{
  width: 290px;
  height: 85px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: white;
  font-size: 35px;
  font-weight: 400;
}

.App button {
  width: 70px;
  height: 46px;
  background-color: rgb(59, 65, 70);
  color: white;
  border: none;
  border-radius: 5px;
}

.App button:hover{
  background-color: rgb(48, 52, 56);
}

.buttonsContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons{
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

.menu{
  padding-right: 15px;
}

.menu h3{
  font-size: 14px;
}

.menu div{
  background-color: #7a7a7a;
  height: 2px;
  margin: 4px 0;
  width: 20px;
}

.header{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.modalMenu{
  position: absolute;
  top: 0px;
  font-size: 30px;
  color: #ffffff;
  width: 200px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background-color: rgb(30, 30, 30);
  list-style-type: none;
}


.modalMenu p {
  color: #7a7a7a;
}

.modalMenu li {
  cursor: pointer;
}

.modalMenu li:hover {
  background-color: rgba(117, 146, 166, 0.5);;
}

.lengthInput{
  width: 290px;
  height: 65px;
  background-color: rgb(37, 35, 35);
  border: none;
  color: white;
  font-size: 35px;
  font-weight: 400;
}

.lengthOption{
  background-color: rgb(37, 35, 35);
  color: white;
  border: none;
  position: relative;
  right: 100px;
}